@page "/rich-editor-sample"

<PageTitle>Rich Editor Sample</PageTitle>

<h1>Rich Editor Sample</h1>

<MyRichEditor @ref=refEditor DefaultArticle="這不是文章" ReqArticleCallback=ReqArticleCallback />

<button class="btn btn-primary" @onclick=HandleGetArticle>拿取文章</button>
<button class="btn btn-primary" @onclick=HandleSetArticle>變更文章</button>

<hr />

<MyRichViewer Article=@article />

@code {
  MyRichEditor refEditor = default!;

  string article = string.Empty; //  "Rich Editor with Quill"

  async Task HandleSetArticle()
  {
    string newArticle = @"<h1><em style=""color: rgb(102, 185, 102);"">我是新文章</em></h1><p>就是這麼算簡單</p><iframe class=""ql-video"" frameborder=""0"" allowfullscreen=""true"" src=""https://www.youtube-nocookie.com/embed/Y1t1WytP4_0?si=Aa4IcvSrHxZZjXd2&amp;amp;controls=0""></iframe><p><br></p>";
    await refEditor.SetArticleAsync(newArticle);
  }

  async Task HandleGetArticle()
  {
    await refEditor.ReqArticleAsync();
  }

  async Task ReqArticleCallback(string newArticle)
  {
    article = newArticle;
    await InvokeAsync(StateHasChanged);
  }
}
