@inject IJSRuntime jsr

<div @ref=refRoot></div>
@* for React to render *@

<hr />
<h5>文章原文</h5>
<pre>
  @Article
</pre>

@code {
  [Parameter, EditorRequired] public string Article { get; set; } = default!;

  ElementReference refRoot;
  bool f_dirty = false;

  protected override void OnParametersSet()
  {
    base.OnParametersSet();
    f_dirty = true;
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await base.OnAfterRenderAsync(firstRender);
    if (firstRender || f_dirty)
    {
      await jsr.InvokeVoidAsync("renderMyRichViewer", refRoot, Article);
      f_dirty = false;
    }
  }
}
