@page "/"
@inject IJSRuntime jsr

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div id="root"></div>

@code{
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await base.OnAfterRenderAsync(firstRender);
    if(firstRender)
    {
      await jsr.InvokeVoidAsync("renderMyCounter", "root", 123);
    }
  }
}